.background {
    background-color: black;
    color: #ff7e00;
    text-align: center;
}

h1 {
    font-size: 80px;
    padding: 10px;
    margin: 0px;
}

.image {
    height: auto;
    width: 400px;
}


